.oradores{
  width: 1200px;
  height: 400px;
  margin:10px auto;
  display: flex;
  flex-direction:column; 
  align-items: center; 
}
.oradores__subtitulo{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color:black;  
}
.oradores__titulo{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color:black;  
}
.card{
  width: 80%;
  height: 370px;
  margin:0 auto;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
}
.card__item-tags{
  margin-top: 10px;
  display:flex;
  justify-content: flex-start;
}
.card__item-tags span{
  margin-right: 5px;
  padding: 2px 2px;
  border-radius: 3px;
  font-size: 9px;
  font-weight: 700;
}
.card__item{
  width: 240px;
  height: 330px;
}
.card__item-img{
  width: 220px;
  height: 220px;
}
.card__item-titulo{
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.card__item-descripcion{
  margin-top: 5px;
  text-align:justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  color: black;
}