.footer{
  width: 1200px;
  height: 60px;
  margin:15px auto;
  display: flex;
  flex-direction:row; 
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1c3643, #1d5271);
}
.footer__item{
  width: 6%;
  margin-right: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: 400;
  color:white; 
  text-decoration: none; 
  line-height: 20px;

}

