.formulario{
  width: 600px;
  height: 250px;
  margin:15px auto;
  display: flex;
  flex-direction:column; 
  align-items: center; 
}
.formulario__subtitulo{
  margin-top: 15px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color:black;  
}
.formulario__titulo{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 700;
  color:black;  
}
.formulario__descripcion{
  margin-top: 15px;
  text-align:justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: black;
}
.formulario__form{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario__form>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formulario__form>div>input{
  width: 48%;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 2px;
}
.formulario__form>textarea{
  margin-top: 10px;
  width: 99%;
  height: 70px;
  border: 1px solid gray;
  border-radius: 4px;
}
.formulario__recordatorio{
  margin-top: 5px;
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 9px;
  color: black;  
}
input[type="submit"]{
  margin-top: 10px;
  width: 100%;
  height: 27px;
  background-color: #96c93e;
  color: white;
  border:none;
  border-radius: 4px;
}
input[type="submit"]:hover{
  background-color: #b6f34c;
}