body{
  margin: 0 auto;
  width: 1200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  position: fixed;
  top: 0;
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #353a40;
}
.header__izq{
  width: 250px;
  display: flex;
  justify-content: row;
  align-items: center;
}
.header__izq-logo{
  width: 100px;
}
.header__izq-titulo{
  font-size: 17px;
  color: aliceblue;
}
.header__der{
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__der-item{
  width: 100px;
  font-size: 12px;
  color: aliceblue;
  text-decoration: none;
}
